.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  color: rgb(15, 14, 14);
  outline: none;
  border-radius: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  min-width: 40%;
  max-width: 20%;
  height: 60%;
  min-height: 20%;
  max-height: 40%;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 2px #888888;
}
.title {
  font-size: 1em;
  font-family: Optima;
}

.username {
  margin: 20px;
}

#username_id {
  border: 0px;
  border-bottom: 1px solid black;
  font-family: Optima;
  font-size: 0.85em;
}
.password {
  margin: 20px;
}
#password_id {
  border: 0px;
  border-bottom: 1px solid black;
  font-family: Optima;
  font-size: 0.85em;
}
#submit {
  padding: 1em 5em;
  width: 100%;
  color: white;
  background-color: rgba(73, 155, 234, 1);
  border: 1px solid;
  outline: none;
  border-radius: 20px;
  text-align: center;
}
